
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    color: whitesmoke;
    --playColor: #1db954;
    --playColorlight: #14e95e;
    --controlStrip: #242424;
    --fontColor: #b3b3b3;
    --highlightColor: #fff;
}
.main{
    background-color: black;
    height: 100vh;
    display: flex;
	padding-right: 0.5rem;
}
.side-bar{
    background-color: black;
    width: 30rem;
    margin: 1rem 0.5rem;
}
.main-content{
    background-color: #121212;
    width: 100%;
    overflow: auto; 
    /* margin: 1.2rem 0.3rem;
    padding-left: 1.5rem;  */

	margin-top: 1.2rem;

    border-radius: .8rem;     
}
.main-content  .sticky-nav{
	padding: 0;
	margin: 0;
	width: 100%;
}

.music-player{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
}
.nav-menu{
    /* height: 5rem; */
    background-color: #121212;
    padding: .5rem .75rem;
    margin: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5rem;
}
.nav-option{
    line-height: 2rem;
    padding: .8rem;
    margin: .1rem;
    font-size: large;
    opacity: .75;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    padding-right: .3rem;
}
.library{
    height: 100%;
    border-radius: .5rem;
    background-color: #121212;
}
.lib-option{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem 1rem;
    margin: 0.5rem;
}
.lib-option>a{
    flex:content;
    padding-left: .2rem;
}
#libIcon{
    height: 1.25rem;
    padding: .2rem .35rem;
}
.lib-option i{
    line-height: .7rem;
    margin: .1rem;
    padding: .2rem;
    justify-self: end;
}
.box{
	margin-right: 1rem;
	margin-left: 1rem;
    margin-bottom: 1rem;
	height: 10rem;
    padding: 1.25rem .7rem;
    background-color: #232323;
    border-radius: .5rem;
    padding-bottom: .5rem;
}
.titlehead{
    font-size: 700;
    font-weight: 700;
	padding-left: 1.5rem;
    margin-bottom: 2rem;
}
.subtitle{
    font-size: .7rem;
    font-weight: 300;
	padding-left: 1.5rem;
	margin-bottom: 1.5rem;
}
.badge{
    border: none;
    font-weight: 600;
    height: 2.2rem;
    font-size: .8rem;
    width: fit-content;
    border-radius: 1.5rem;
    color: black;
    margin: .5rem;
    padding: 0.5rem 1rem;
	margin-left: 1.5rem;
}
.badge:hover{
    transform: scale(1.05);
	cursor: pointer;
}
.sticky-nav{
    display: flex;
	width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: .5rem;
    background-color: rgba(12, 12, 12, 1);
	height: 4rem;
}

.nav-left{
	padding-left: 1rem;
}

.dark{
    background-color: black;
    color: white;
	height: 2.2rem;
}
.dark i{
    color: white;
    margin-right: 1.2rem;
	
}
.nav-right i{
	margin-right: 2rem;
}

h2{
    margin: 1rem 0rem 1rem 0rem;
	padding-left: 1.5rem;
}
.card{
    height: 20rem;
    width: 14rem;
    background-color: #171717;
    padding: .5rem;
    border-radius: .5rem;
    margin: .3rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
	padding-left: 1.5rem;
}
.card-img{
    width: 100%;
    border-radius: .5rem;
}
.card-title{
    font-weight: 700;
    margin-bottom: .2rem;
    padding: .4rem;
}
.card-info{
    font-weight: 300;
    opacity: .8;
    margin-bottom: .2rem ;
    padding: .4rem;
}
.card:hover{
    background-color: #282828;
}
.footer{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line{
    border-top: 1px solid #232323;
    height: 50;
    width:75%;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;

}
.socials i{
    line-height: 5rem;
    opacity: .8;
    margin: 1rem;
    padding: .5rem;
}
.socials i:hover{
    opacity: 1;
}
.left-player{
    width: 25%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left-player .album-cover{
    height: 60%;
    margin: .2rem;
    padding: .2rem;
    padding-left: .5rem;
}
.left-player .album-info{
    margin: .2rem;
    padding: .2rem;
}
.left-player .album-info h4 {
    font: 1rem;
    font-weight: 700;
}
.left-player .album-info p{
    font: .6rem;
    opacity: .8;
}
.left-player .album-icon{
    height: 1.5rem;
    margin: .2rem;
    padding: .2rem;
    opacity: .7;
}
.left-player .album-icon:nth-child(2n){
    transform: scale(1.5);
}
.left-player .album-icon:hover{
    opacity: 1;
}


/* // SONG CONTROL STRIP */
.song-control {
    width: 50%;
    padding: 25px 0;
    color: var(--highlightColor);
    background-color:   black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    .song-control__inner {
      width: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .song-control__buttons {
        display: flex;
        align-items: center;
        i {
          cursor: pointer;
          font-size: 1rem;
          margin: 0 8px;
          transition: color 0.2s ease-out;
          &:nth-child(3) {
            font-size: 1.5rem;
          }
          &:hover {
            color: var(--playColorlight);
          }
        }
        margin-bottom: 10px;
      }
      .song-control__timeline {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.7rem;
        .timeline {
          position: relative;
          width: 400px;
          height: 4px;
          background-color: #646464;
          border-radius: 50px;
          .timeline-fill {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 310px;
            height: 4px;
            background-color: var(--playColorlight);
            border-radius: 50px;
          }
        }
      }
    }
  }
  



.right-player{
    width: 25%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-player .right-player-img{
    height: 1.2rem;
    opacity: .8;
}
.right-player .right-player-img:nth-child(1),.right-player-img:nth-child(2),.right-player-img:nth-child(5){
    transform: scale(2.2);
}
.right-player .right-player-img:hover{
    opacity: 1;
}
.vol{
    appearance: none;
    /* margin: 0;
    padding: 0; */
    background-color: rgb(180, 227, 189);
    height: .2rem;
}
.vol::-webkit-slider-thumb{
    color: beige;
}

@media(max-width: 768px){
    .left-player, .right-player {
        display: none;
    }
    .mid-player{
        width: 100%;
        flex-wrap: nowrap;
    }
    .mid-player .mid-player-controls input{
        width: 70%;
    }
    .music-player{	
    	padding-bottom: .1rem;
        margin-bottom: .1rem;
    }
    .main-content{
        padding-left: .4rem;
        margin-left: .1rem;
    }
    .side-bar{
        margin-right: 0rem;
    }
    .card{
        height: fit-content;
    }
    .socials{
        width: 100%;
    }
    .socials i{
        opacity: .6;
    	margin: .2rem;
	padding: .2rem;
    }
}